.grid{
    stroke: lightgray;
    stroke-opacity: 0.2;
}

path {
stroke: indianred;
stroke-width: 2;
fill: none;
}

.axis path,
.axis line {
fill: none;
stroke: grey;
stroke-width: 1;
shape-rendering: crispEdges;
}